- @class = 'login'
- @hide_navigation = true
- @hide_sidebar    = true

%div
  %a#signin.hiddenanchor
  .login_wrapper
    .animate.form.login_form
      %section.login_content
        = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f|
          %h3 Sign in
          = devise_error_messages!
          .form-group
            = f.label :email
            = f.email_field :email, :autofocus => true, class: 'form-control'
          .form-group
            = f.label :password
            = f.password_field :password, class: 'form-control'
          - if devise_mapping.rememberable?
            .checkbox{:style => "width:150px"}
              %label
                = f.check_box :remember_me
                Remember me

          %div
            = f.submit 'Sign in', :class => 'btn btn-default submit'
            - if devise_mapping.recoverable?
              %a.reset_pass{:href => new_password_path(resource_name)} Forgot password?
          .clearfix
          .separator
            %p.change_link
              New to site?
            - if devise_mapping.registerable?
              = link_to 'Sign up', new_registration_path(resource_name), class: 'right to_register'
